@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  --pink-50: #fdf4ff;
  --pink-100: #fae8ff;
  --pink-200: #f5d0fe;
  --pink-300: #f0abfc;
  --pink-400: #e879f9;
  --pink-500: #d946ef;
  --pink-600: #c026d3;
  --pink-700: #a21caf;
  --pink-800: #86198f;
  --pink-900: #701a75;
  --pink-950: #4a044e;
}
